<div class="row" ng-controller="GalleryController">

    <div ng-repeat="file  in images.files">

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="{{file.url}}" alt="...">
                <div class="caption">
                    <p>name: {{file.name}}</p>
                    <p>size: {{file.size}}
                    <p>tags: none </p>
                    <p>caption: none</p>
                    <a  ui-sref="image({imageId:file.id, file:file})" class="btn btn-primary" role="button">View</a>
                    <a href="" class="btn btn-default" role="button" ng-click="deleteImage($index)" >Delete</a></p>
                    <a href="" class="btn btn-default" role="button">Reindex</a></p>
                </div>
            </div>
        </div>

    </div>
</div>